[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
words2num = "*"
googletrans = "*"
speechrecognition = "*"
flask = "*"
firebase-admin = "*"
grpcio = "*"
google-cloud-core = "*"
google-cloud-firestore = "*"
firebase = "*"
python-jwt = "*"
gcloud = "*"
sseclient = "*"
pycrypto = "*"
requests-toolbelt = "*"
pydub = "*"
ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.6"
